
$fontsize: (
    font-title-header: 41px, /*header*/
    font-items-header: 20px,
    font-email-foot: 16px, /*footer*/
    font-title-foot: 36px,
    font-h1-index: 60px, /*index*/
    font-picasso-index: 32px,
    font-h3-index: 45px,
    font-h2neuro-arq: 26px, /*arqydeco*/
    font-button-arq: 18px,
    font-p-arq: 28px,
    font-h3-arq: 38px,
    font-text-about: 56px, /*aboutUs*/
    font-p-cont: 1.5rem, /*contacto*/
    font-h2-cont: 36px,
    font-placeholder-cont: 16px,
    font-button-cont: 22px
);

$tamheight:(
    height-index-fondo: 760px, /*index*/
    height-rec-marron: 470px,
    height-disen-index: 400px,
    height-img-arq3: 340px, /*arqydeco*/
    height-img-abt1: 980px, /*boutus*/
    height-img23-abt: 690px,
    height-rec-contactarnos: 50px, /*contacto*/
    height-img-finales: 300px
);

$fontsizemobile: (
    fs-navbar-brand: 32px,
    fs-nav-link: 16px,
    fs-icon-mail: 14px,
    fs-foot-title: 28px,
    fs-fa-brands: 26px,
    fs-p1p: 1rem,
    fs-conth2: 16px,
    fs-placehold: 10px,
    fs-buttoncont: 10px,
    fs-indexh1: 38px,
    fs-indexmarron: 18px,
    fs-indexh3: 14px,
    fs-abth2: 32px,
    fs-arqitemh2: 26px,
    fs-neuroarq: 18px,
    fs-arqh3: 22px,
    fs-arqp: 16px,
    fs-arqbuttonp: 18px,
    fs-mini-foottitle: 16px,
    fs-mini-icon: 10px,
    fs-mini-brand: 22px
);

$height-lifestyle-mob: (
    imgchica: 180px,
    imggrande: 210px,
    recg-marron: 52px,
    recpmarron: 45px
);




