$color-body: #EDE1D2;
$color-picasso-index: rgba(49, 30, 9, 1);
$color-rec-lif: rgba(72, 39, 11, 0.6);
$color-footer: #031E00;
$color-hover-footer: sienna;
$color-brands: rgba(253, 216, 183, 0.88);
$color-letra-lif: rgba(255, 255, 255, 0.79);
$tamano-imgc-lifestyle: 326px;
$tamano-imgg-lifestyle: 564px;
$font-family-newsreader: "Newsreader", serif;
$font-family-inter: "Inter", serif;
$font-family-aboreto: "Aboreto", serif;
$heightbody-mobile: 1100px;
$mheight-header: 140px;
$mheight-contactarnos-mobile: 700px;
